<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>SET STATUS</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<section>
    <div th:each="tr : ${news}" style="display: inline-block" class="ndiv">
        <form method="post" th:object="${tr}">
        <img th:src="${tr.urlToImage}"/>
        <h4 th:text="${tr.title}"/>
        <h5 th:text="${tr.newsSource}"/>
        <h5 th:text="'Опубликованно: '+ ${tr.publishedAt}"/>
        <p th:text="${tr.description}"/>
        <p th:text="${tr.word}"/>
        <div class="radio_div">
            <form method="post" th:finstatus="${instatus.status}">
            <p class="radio_text"><input  class="radio_st" name="status" type="radio"
                                         value="POSITIVE">POSITIVE</p>
            <p class="radio_text"><input class="radio_st" name="status" type="radio"
                                         value="NEUTRAL">NEUTRAL</p>
            <p class="radio_text"><input class="radio_st" name="status" type="radio"
                                         value="NEGTIVE">NEGTIVE</p>
            <button>Принять</button>
            </form>
        </div>
        </form>
    </div>

</section>
</body>
</html>